.content {
  display: flex;
  font-weight: 500;
  color: $primary-color;
  box-shadow: $box-shadow;
  margin-top: 40px;

  &__button {
    background-color: white;
    color: $primary-color;
    user-select: none;
    width: 40px;
    height: 40px;
    padding: 10px;
    font-weight: 500;

    &_active {
      background-color: $primary-color;
      color: white;
    }

    &_prev_next {
      @extend .content__button;
      width: 60px;
    }
  }
}
