@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap");

@import "./normalize.scss";

* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

[hidden] {
  display: none !important;
}