.container {
  @include container;

  &__title {
    text-align: center;
    font-size: 3rem;
    color: $primary-color;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 20px;
    margin-top: 22px;
  }

  &__empty_list {
    text-align: center;
    margin-top: 48px;
    font-weight: 500;
  }

  &__pagination {
    display: flex;
    justify-content: flex-end;
  }
}
